.form-container {
  background-color: #6C7E8F;
  border-radius: 5px;
  display: inline-block;
  position: fixed;
  padding: 2rem;
  text-align: center;
  top: 10rem;
  width: 17%;
}

.form-group {
  margin: 1rem;

  & input[type=text], input[type=number] {
    width: 100%;
  }

  &__radio {
    display: inline;
    width: 40%;

    & label {
      padding: 0 1rem;
    }
  }
}
