.table-container {
  margin-left: 17%;
  padding: 0 2rem;
  width: 80%;
}

.table {
  border-collapse: collapse;
  margin-top: 10rem;
  table-layout: fixed;
}

thead, tfoot {
  display: table;
  width: 100%;
}

tfoot td {
  width: 20%;
}

th {
  font-weight: 300;
  letter-spacing: 1.5px;
  width: 20%;
}

tbody {
  height: 80vh;
  overflow: auto;
  display: block;
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, tfoot td {
  background-color: #10253A;
  color: white;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 4px;
  text-align: right;
}

tr:nth-child(even) {
  background: #6C7E8F;
}

tr:nth-child(odd) {
  background: #4A6075;
}
